@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');
@import "tailwindcss";
body {
  font-family: 'Lora', serif;
}
 html, body {
    background-color: #000000 !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }